FROM ubuntu:18.04

RUN apt-get update && apt-get install -y git ruby

WORKDIR /opt/sinatra/
RUN git clone -b {{ app_branch }} {{ app_repo }}  /opt/sinatra/
RUN gem install bundler
RUN bundle install

CMD ["bundle", "exec", "rackup", "--host", "0.0.0.0", "-p", "{{app_port}}"]

EXPOSE {{app_port}}
